<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container flex flex-sb">
        <a href="/events"><button>List of event</button></a>
        <h2 class="h2">Update Form</h2>
        <a href="/events/new"> <button>Add event</button></a>
      </div>
    </header>
    <main>
      <section>
        <div class="text-ac form">
          <form action="/events/<%= event._id %> " method="POST">
            <input
              type="text"
              name="title"
              placeholder="Add title"
              value="<%= event.title %> "
            /><br />
            <textarea
              name="summary"
              cols="30"
              rows="6"
              placeholder="Add Summary"
            >
 <%= event.summary %> </textarea
            ><br />

            <input
              type="text"
              name="host"
              placeholder="Enter Host"
              value="<%= event.host %> "
            /><br />

            <input
              type="date"
              name="start_date"
              placeholder="dd/mm/yyyy"
              value="<%= startDate %>"
            />

            <br />

            <input
              type="date"
              name="end_date"
              placeholder="dd/mm/yyyy"
              value="<%= endDate %>"
            />
            <br />

            <input
              type="text"
              name="event_category"
              placeholder="Enter category"
              value="<%= event.event_category %> "
            />
            <br />
            <input
              type="text"
              name="location"
              placeholder="Enter Location"
              value="<%= event.location %> "
            />
            <br />

            <input type="submit" />
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
